.container-fluid {
  background-color: blueviolet;
  height: 5rem;
}

.row {
  background-color: black;
  height: 5.7rem;
}

[class*='col-'] {
  background-color: navy;
  height: 4.2rem;
  border: 2px solid rgba(0, 0, 0, 0.3);
}
